<div class="contenido-filter">
  <h2>Featured Instant Coupons ({{ marcas.length }})</h2>
  <div class="btn-filtros">
    <button mat-icon-button>
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
    <button mat-mini-fab color="primary">
      <mat-icon>grid_view</mat-icon>
    </button>
    <mat-form-field>
      <mat-label>SORT BY</mat-label>
      <mat-select>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
@if (cargando) {
<div class="contenido-loader">
  <mat-spinner></mat-spinner>
</div>
} @else {
<div class="grid-container">
  @for (marca of marcasFilter; track $index) {
  <app-marca [marca]="marca" />
  }
</div>
} @if (marcasFilter.length !== marcas.length) {
<div class="contenido-btn">
  <button mat-flat-button color="primary" (click)="allCoupons()">
    MORE INSTANT COUPONS >
  </button>
</div>
} @if ( marcas.length === 0 && !cargando) {
  <h2 class="no-data">No se encontraron registros</h2>
}
