<mat-list-item>
  <div class="contenido">
    @if (showLoader) {
    <mat-spinner class="marca-spinner"></mat-spinner>
    }
    <img
      mat-card-image
      [src]="backgroundImg"
      (load)="loaderImg()"
      (error)="onImageError($event)"
      [alt]="marca.nombreMarca"
      class="marca-image"
      [hidden]="showLoader"
    />

    <div>
      <p>{{ marca.nombreMarca }}</p>
      <div class="coupon-badge">
        <mat-icon>card_travel</mat-icon>
        <span>{{ translations.badgeCoupon }}</span>
      </div>
      <h3>{{ marca["descripción"] }}</h3>
      <div class="btn-contenido">
        <btn-text-icon [title]="translations.btnCoupon" icon="chevron_right" />
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</mat-list-item>
