<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="userSession">
      {{
        translations[userSession ? "login-login-success" : "header-loginOut"]
      }}
      {{ userSession }}
    </ion-title>
    <ion-buttons slot="end">
      <ng-container *ngIf="userSession; else logIn">
        <app-btn-text-icon
          [title]="translations['header-loginOut']"
          [icon]="'chevron_right'"
          (click)="logOut()"
        />
      </ng-container>
      <ng-template #logIn>
        <app-btn-text-icon
          [title]="translations['header-login']"
          [icon]="'chevron_right'"
          (click)="goToLogin()"
        />
      </ng-template>

      <ion-item-divider class="invisible-divider"></ion-item-divider>

      <app-btn-text-icon
        [title]="translations['header-linkYoCard']"
        [icon]="'chevron_right'"
        [matBtn]="false"
        color="primary"
      />
    </ion-buttons>
  </ion-toolbar>
</ion-header>
