<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="userSession">
      {{ translations["login-login-success"] }}
      {{ userSession }}
    </ion-title>
    <ion-buttons slot="end">
      <app-btn-text-icon
        [title]="translations['header-login']"
        [icon]="'chevron_right'"
        (click)="goToLogin()"
      />

      <ion-item-divider class="invisible-divider"></ion-item-divider>

      <app-btn-text-icon
        [title]="translations['header-linkYoCard']"
        [icon]="'chevron_right'"
        [matBtn]="false"
        color="primary"
      />
    </ion-buttons>
  </ion-toolbar>
</ion-header>
