<mat-card class="custom-card">
  @if (isCashback) {
  <div class="floating-image">
    <img
      [src]="marca.imagen || 'assets/images/no-image.jpg'"
      [alt]="marca.nombreMarca"
      class="circular-image"
      [matTooltip]="marca.nombreMarca"
    />
  </div>
  }
  <img
    mat-card-image
    [src]="background || 'assets/images/no-image.jpg'"
    [alt]="marca.nombreMarca"
    class="card-image"
  />
  <mat-card-content>
    <div [class]="'floating-card' + badgeClass">
      <mat-icon>{{ badgeIcon }}</mat-icon>
      <span class="badge-text">{{ badgeTitle }}</span>
    </div>
    <p>{{ marca.nombreMarca }}</p>
    <h3>{{ marca["descripción"] }}</h3>
  </mat-card-content>
  @if (!isCashback) {
  <mat-card-actions>
    <btn-text-icon [title]="translations.btnCoupon" icon="chevron_right" />
  </mat-card-actions>
  }
</mat-card>
