<footer class="footer">
  <div class="footer-links">
    <a href="#">{{(footer$ | async)?.['contactSupport'] ?? ''}}</a>
    <a href="#">{{(footer$ | async)?.['termsConditions'] ?? ''}}</a>
    <a href="#">{{(footer$ | async)?.['privacyPolicy'] ?? ''}}</a>
    <a href="#">{{(footer$ | async)?.['cookiePolicy'] ?? ''}}</a>
  </div>
  <app-generic-select
    [optionList]="catLanguage"
    [currenValue]="translationSrv.getLanguageStorage"
    (changeOption)="selectLanguage($event)"
    icon="translate"
    [title]="(footer$ | async)?.['language'] ?? ''"
  />
</footer>
