<footer class="footer">
  <div class="footer-links">
    <a href="#">Contact Support</a>
    <a href="#">Terms and Conditions</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Cookie Policy</a>
  </div>
  <div class="footer-right">
    <span class="icon">
      <mat-icon fontIcon="translate"></mat-icon>
    </span>
    <mat-form-field>
      <mat-label>Basic native select</mat-label>
      <mat-select (selectionChange)="selectLanguage($event)" [value]="translationSrv.getLanguageStorage">
        @for (item of catLanguage; track $index) {
          <mat-option [value]="item.value">{{item.title}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</footer>
