.contenido-items {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 1rem;
  width: 50rem;
  margin: 0 auto;

  @media (min-width: 1201px) {
    width: 50rem;
  }

  @media (max-width: 1200px) and (min-width: 769px) {
    width: 40rem;
  }

  @media (max-width: 768px) and (min-width: 481px) {
    width: 30rem;
  }

  @media (max-width: 480px) and (min-width: 321px) {
    width: 18rem;
  }

  @media (max-width: 320px) {
    width: 12rem;
  }
}
.contenido-progress-bar {
  margin: 4rem 0px;
}
