.container-details {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom, #002c8e, #0055ff, #ffffff);

  color: white;
  margin-top: 4rem;
}

.header {
  font-size: 4rem;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 5rem 0px;
  font-weight: 300;
  line-height: 1.2;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.btn-content {
  display: flex;
  justify-content: center;
}
