<mat-list-item>
  <div class="contenido">
    <img
      mat-card-image
      [src]="marca.imagen || 'assets/images/no-image.webp'"
      [alt]="marca.nombreMarca"
      class="marca-image"
    />

    <div>
      <p>{{ marca.nombreMarca }}</p>
      <div class="coupon-badge">
        <mat-icon>card_travel</mat-icon>
        <span>{{ translations.badgeCoupon }}</span>
      </div>
      <h3>{{ marca["descripción"] }}</h3>
      <div class="btn-contenido">
        <app-btn-text-icon [title]="translations.btnCoupon" icon="chevron_right" />
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</mat-list-item>
